<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag('bookstore_image.png', alt: 'BookstoreImage', class: 'img-fluid', style: 'max-width: 100px; height: auto;') %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Authors', authors_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Books', books_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Genres', genres_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Ratings', ratings_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Payment Methods', paymentmethods_path, class: "nav-link active" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Customers', customers_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Employees', employees_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Orders', orders_path, class: "nav-link active" %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown">
            <% if user_signed_in? %>
              <li class="dropdown-item">
                <%= link_to 'Edit Account', edit_user_registration_path, class: "nav-link active" %>
              </li>
              <li class="dropdown-item">
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link active" %>
              </li>
            <% else %>
              <li class="dropdown-item">
                <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link active" %>
              </li>
              <li class="dropdown-item">
                <%= link_to 'Sign In', new_user_session_path, class: "nav-link active" %>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'About', home_about_path, class: "nav-link active" %>
        </li>
      </ul>
    </div>
  </div>
</nav>