<div class="container">
  <h1 class="text-center">List of Ratings</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th style="font-size: 20px">Rating Id</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.review_id %></td>
        <td>
          <%= link_to "Show", rating, class: "btn btn-primary" %>
        </td>
        <% if user_signed_in? %>
          <td>
            <%= link_to "Edit", edit_rating_path(rating), class: "btn btn-warning", style: "color: white;"%>
          </td>
          <td>
            <%= button_to "Destroy", rating, method: :delete, class: "btn btn-danger"%>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if user_signed_in? %>
    <%= link_to "Create New Rating", new_rating_path, class: "btn btn-success" %>
  <% end %>
</div>
<br><br>
